* {
  font-size: 15px;
  font-family: Sans-serif;
  color: #31493d;
}

.MainContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "nav nav nav nav nav "
    "menu main main main right ";
  padding: 10px;
}

.MainContainer > div {
  background-color: #d3dcdc;
  padding: 20px 0;
  font-size: 30px;
}

.Left {
  grid-area: menu;
}
.Center {
  grid-area: main;
}
.Right {
  grid-area: right;
}

.nav {
  grid-area: nav;
  background-color: #7a9e7e !important;
  padding: 30px !important;
  display: flex;
  justify-content: space-between;
}
.nav-1 {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.nav-0 {
  display: flex;
}
.nv0-item-1 {
  padding-top: 10px;
  padding-left: 5px;
}

.right-item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.left-item {
  display: flex;
  padding-left: 10px;
}

.left-item-1 {
  padding-top: 13px;
  padding-left: 10px;
}
.left-item-0 > img {
  border-radius: 5px;
}

.main-container {
  display: flex;
  background-color: aliceblue;
  margin: 10px;
}

.mn-item-1 {
  padding: 20px;
}

.right-item-0,
.right-item-1 {
  padding: 10px;
}
